@import "../settings/all";

html {
    font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-feature-settings: 'tnum' 1, 'dlig' 1, 'zero' 1, 'frac' 1, 'cpsp' 1, 'ss01' 1, 'ss02' 1;
    line-height: 1.4;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif; }
}

body {
    counter-reset: table-counter;
    color: $dark-1;
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: 'Bungee Inline', cursive;
}

h1, h2, h3, h4, h5, h6 {
    color: $dark-1;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
}

a,
ins,
u {
  text-decoration-skip: ink edges;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}


dl dt {
    font-weight: 700;
}

sub { font-feature-settings: "subs"; }
sup { font-feature-settings: "sups"; }

sub, sup {
    font-size: 95%;
    vertical-align: baseline;
    position: relative;
    top: -0.1em;
}
sub { 
    top: 0.1em; 
}



label {
    font-weight: 500;
}

code[class] {
    font-family: "Overpass Mono","SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
    font-feature-settings: 'frac' 0;
    font-size: 94%;
    line-height: 1.2;
}



a {
    color: $accent-1;

    &:hover {
        color: darken($accent-1, 20%);
        cursor: crosshair;
    }
}

del {
    color: $light-1;
}

blockquote {
    border-left: 3px $light-1 solid;
    font-size: small;
    margin-left: 0;
    padding: 1em 2em;
}

fieldset {
    border: 2px $light-1 dotted;

    legend {
        color: $dark-1;
        padding: 0 0.25rem;
        font-weight: 700;
        font-size: small;
    }
}


hr {
    border: 1px $light-1 solid;
}


code:not([class]), pre, kbd, samp, var {
    background: lighten($light-1, 13%);
    border: 1px darken($light-1, 13%) solid;
    color: darken($light-1, 45%);
    border-radius: 0.25em;
    line-height: 1.2;
    padding: .1rem .2rem;
    font-family: "Overpass Mono","SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
    font-feature-settings: 'frac' 0;
    font-size: 94%;
}

mark {
    background-color: $light-1;
}

input, textarea {
    background-color: lighten($light-1, 15%);
    border: 1px transparent solid;
    border-bottom-color: $light-1;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 1rem;
    padding: 0.25rem;
    color: $dark-1;

    &:focus, &:hover, &:active {
        border: 1px $light-1 solid;
    }
}

select {
    border: 1px $light-1 solid;
    font-size: 1rem;
    padding: 0.25rem;
    color: $dark-1;
}

button, input[type="submit"], input[type="reset"], input[type="button"] {
    font-size: unset;
    height: unset;
    font-variant: all-small-caps;
    font-weight: 700;
    color: $dark-1;
    background-color: $light-1;
    border: 1px darken($light-1,15%) solid;
    border-bottom-width: 3px;
    border-radius: 0.3em;
    padding: 0.1em 0.45em 0.15em;

    &:hover {
        background-color: lighten($light-1, 15%);
    }
}

ul {
    list-style: none;

    li {
        margin: 0.25rem;
        &::before {
            content: "";
            background-color: $light-1;
            border: 0.05em darken($light-1, 10%) solid;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            display: inline-block;
            line-height: 0.5rem;
            margin-right: 0.5rem;
        }

        li {
            
            &::before {
                background-color: darken($light-1, 5%);
                border-color: darken($light-1, 15%);
            }

            li::before {
                background-color: darken($light-1, 10%);
                border-color: darken($light-1, 20%);
            }
        }
    }
}

ol {
    list-style: none;
    counter-reset: ol-counter;

    li {
        counter-increment: ol-counter;
        margin: 0.25rem;
        &::before {
            content: counter(ol-counter);
            color: $dark-1;
            background-color: $light-1;
            border: 0.05em darken($light-1, 5%) solid;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            display: inline-block;
            line-height: 1rem;
            font-size: 0.75em;
            font-weight: 700;
            text-align: center;
            margin-right: 0.5rem;
        }

        li {
            &::before {
                background-color: darken($light-1, 5%);
                border-color: darken($light-1, 15%);
            }

            li::before {
                background-color: darken($light-1, 10%);
                border-color: darken($light-1, 20%);
            }
        }
    }
}

table {
    border-collapse: separate;
    border-spacing: 0.5rem;
    font-size: small;
    counter-increment: table-counter;

    td, th {
        padding: 0 0.25rem;
    }

    tr:hover {
        background-color: lighten($light-1, 10%);
    }

    caption {
        font-weight: 700;
        text-align: left;
        margin: 0 0.5rem;

        &::before {
            content: "Table "counter(table-counter, upper-roman)". ";
        }
    }
}

thead th,
thead td {
    border-bottom: 3px $light-1 solid;
}

tfoot th,
tfoot td {
    border-top: 3px $light-1 solid;
}

thead th, 
thead td,
tfoot th, 
tfoot td {
    color: $dark-1;
}
tbody th {
    color: darken($light-1, 25%);
    font-size: small;
}