@import "../settings/all";
@import "button";
@import "code";
@import "forms";

html {
    font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-feature-settings: 'calt' 1, 'liga' 1, 'tnum' 1, 'dlig' 1, 'zero' 1,  'cpsp' 1, 'ss01' 1, 'ss02' 1;
    line-height: 1.4;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif; }
}

body {
    counter-reset: table-counter;
    color: $dark-1;
    text-rendering: optimizeLegibility;
}

h1, h2 {
    text-shadow: 0 1px white, 0 2px lighten($accent-1, 10%);
    small, a {
        text-shadow: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: darken($accent-1, 20%);
    font-family: $heading-fonts;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .5rem;
    position: relative;

    small {
        font-weight: 300;
        display: block;
    }

    a {
        color: darken($accent-1, 35%);

        &:hover {
            color: $light-1;
        }
    }
}

ins {
    color: $light-1;
}

a,
ins,
u {
  text-decoration-skip: ink edges;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

dt {
    @extend %label;
}
dl dt {
    font-weight: 700;
}

sub { font-feature-settings: "subs"; }
sup { font-feature-settings: "sups"; }

sub, sup {
    font-size: 95%;
    vertical-align: baseline;
    position: relative;
    top: -0.1em;
}
sub { 
    top: 0.1em; 
}

a {
    color: darken($accent-1, 25%);

    &:hover {
        color: darken($accent-1, 35%);
        cursor: crosshair;
    }
}

del, s {
    color: $accent-1;
}

blockquote {
    border-left: .25em $light-1 solid;
    font-size: .85em;
    margin-left: 0;
    padding: .5rem 1rem;
}

q {
    color: $light-1;
}

dfn {
    color: $light-y;
}

hr {
    border: 1px $light-1 solid;
}

mark {
    background-color: $light-y;
}

ul {
    list-style: none;

    li {
        margin: 0.25rem;
        &::before {
            content: "";
            background-color: $light-1;
            border: 0.05em darken($light-1, 10%) solid;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            display: inline-block;
            line-height: 0.5rem;
            margin-right: 0.5rem;
        }

        li {
            &::before {
                background-color: darken($light-1, 5%);
                border-color: darken($light-1, 15%);
            }

            li::before {
                background-color: darken($light-1, 10%);
                border-color: darken($light-1, 20%);
            }
        }
    }
}

ol {
    list-style: none;
    counter-reset: ol-counter;

    li {
        counter-increment: ol-counter;
        margin: 0.25rem;
        &::before {
            content: counter(ol-counter);
            color: $dark-1;
            background-color: $light-1;
            border: 0.05em darken($light-1, 5%) solid;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            display: inline-block;
            line-height: 1rem;
            font-size: 0.75em;
            font-weight: 700;
            text-align: center;
            margin-right: 0.5rem;
        }

        li {
            &::before {
                background-color: darken($light-1, 5%);
                border-color: darken($light-1, 15%);
            }

            li::before {
                background-color: darken($light-1, 10%);
                border-color: darken($light-1, 20%);
            }
        }
    }
}

table {
    border-collapse: separate;
    border-spacing: 0.5rem;
    font-size: small;
    counter-increment: table-counter;

    td, th {
        padding: 0 0.25rem;
    }

    tr:hover {
        background-color: lighten($light-1, 10%);
    }

    caption {
        @extend %label;
        text-align: center;
        margin: 0 0.5rem;

        &::before {
            content: "Table "counter(table-counter, upper-roman)". ";
        }
    }
}

thead th,
thead td {
    border-bottom: 3px $light-1 solid;
}

tfoot th,
tfoot td {
    border-top: 3px $light-1 solid;
}

tbody th {
    color: darken($light-1, 25%);
    font-size: small;
}